* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
i{
    color:#343a40;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #343a40;
}


input {
  padding-left: 15px;
}


.wrapper{
    width: 480px;
    background-color: #343a40;
    color: white;
    border-radius: 10px;
    justify-self: center;

}

.container{
    width: 480px;
    background-color: #343a40;
    color: white;
    border-radius: 10px;
    padding: 30px;
    justify-self: center;
    box-shadow: 0 0 10px black;
}

h1{
    font-size: 40px;
    text-align: center;
}

.inputbox{
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    position: relative;
    padding: 0 5% 0 5%;
   
}


.remember_me {
    all:revert;
}

input:not([type="checkbox"]),select{    
    width: 100%;
    height: 100%;
    opacity: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px black;
}


.inputbox i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
}
.inputbox input::placeholder{
    color: rgb(156, 155, 155);
}
.remember_forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0px 15px;
    padding:20px 0px 20px 0px;
}
.remember_forgot a{
    all:unset;
    color:rgb(121, 121, 190);
    text-decoration: none;
}
.remember_forgot a:hover{
    text-decoration: underline;
}

.button{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border:none;
    outline: none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    color:white ;
    background-color: #343a40;

}
.button:hover{
    box-shadow: 0 0 8px black;
}
.button:active{
    color: #1d2124;
}

.register{
    text-align: center;
    padding:8% 0 3% 0;
}

.register a{
    color: rgb(121, 121, 190);
    text-decoration: none;
}
.register a:hover{
    text-decoration: underline;
}


.second_navbar{
    width: 100vw;
    height: 5vh ;
    background-color: rgb(156, 155, 155);
    position:absolute;
    top:6vh;
    justify-self: top;
    box-shadow: 0 0 10px black;
    z-index: 1;
    
}

.side-bar{
    width: 20vw;
    height: 100vh;
    position: absolute ;
    left: 0;
    top: 10%;
    background-color: rgb(156, 155, 155);
}


.side-button{
    left:0;
    height: 10vh;
    width: 20vw;
    box-shadow: 0 0 10px black;
    flex-direction: row;
    text-align: center;
    column-gap: 10px;
    background-color: rgb(156, 155, 155) ;
    font-size: 20px;
    position: relative;
    border: none;
}



.create{
    display: inline-block;
    font-size: 25px;
    padding: 20px 45px;
    border-radius: 50px;
    border:none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    color:white ;
    background-color: #343a40;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.create:hover{
    box-shadow: 0 0 8px black;
}
.create:active{
    color: #1d2124;
}

.tablestyle{
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
}

.grid_item{
    display: grid;
    background-color: rgb(201, 199, 199);
    width: fit-content;
    height:500px;
    grid-template-columns: 30px 200px 50px 40px 200px ;
    grid-auto-rows: 40px;
    row-gap: 0px;
}

.grid_item label{
    border-left:1px solid black;
    padding: 5px;
    box-shadow: 0 0 5px black;
    margin-bottom: 0px;
    color: #343a40;
}

.grid_head{
    display: grid;
    width: 500px;
    grid-template-columns:30px 190px 50px 50px 200px;
    text-decoration: underline;

}   

.grid_head label{
    height: 15px;
    padding-left: 10px;
    
}


.button_dropdown{
    width: min-content;
    height: fit-content;
    background-color: #343a40;
    box-shadow: 0 0 10px black;
    position: absolute;
    right: 50px;
    bottom: 50px;
    display:flex;
    flex-direction: column;
    border-radius: 10%;
}

.modify {
    display: block;
    width: 100%;
    font-size: 25px;
    padding: 20px 45px;
    border:none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    color:white ;
    background-color: #343a40;
    
}

.x {
    padding-right: 30px;
    text-align: right;
}

.dropdown{
    border-radius: 100px;
    padding: 10px 20px;
    bottom: 60px;
    right: 60px;
    position: absolute;
}

.delete{
    position: absolute;
    bottom: 110px;
    left: 1450px;
    width: 300px;
}

.submit{
    position: absolute;
    bottom: 215px;
    left: 1505px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.groups_container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: fit-content;
    height: fit-content;
    margin-top: 500px;
    border-radius:10px;
    background-color: rgb(156, 155, 155);
  }

.groups_placeholder{
    color:black;
    text-align:center;
    border:10px solid #343a40;
    padding:100px;
}
