* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
i{
    color:#343a40;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #343a40;
}


input {
  padding-left: 15px;
}


.wrapper{
    width: 480px;
    background-color: #343a40;
    color: white;
    border-radius: 10px;
    justify-self: center;

}

.container{
    width: 480px;
    background-color: #343a40;
    color: white;
    border-radius: 10px;
    padding: 30px;
    justify-self: center;
    box-shadow: 0 0 10px black;
}

h1{
    font-size: 40px;
    text-align: center;
}

.inputBox{
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    position: relative;
    padding: 0 5% 0 5%;
   
}


.remember_me {
    all:revert;
}

input:not([type="checkbox"]),select{    
    width: 100%;
    height: 100%;
    opacity: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px black;
}


.inputBox i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
}
.inputBox input::placeholder{
    color: rgb(156, 155, 155);
}
.remember_forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0px 15px;
    padding:20px 0px 20px 0px;
}
.remember_forgot a{
    all:unset;
    color:rgb(121, 121, 190);
    text-decoration: none;
}
.remember_forgot a:hover{
    text-decoration: underline;
}

.button{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border:none;
    outline: none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    color:white ;
    background-color: #343a40;

}
.button:hover{
    box-shadow: 0 0 8px black;
}
.button:active{
    color: #1d2124;
}

.register{
    text-align: center;
    padding:8% 0 3% 0;
}

.register a{
    color: rgb(121, 121, 190);
    text-decoration: none;
}
.register a:hover{
    text-decoration: underline;
}


.second_navbar{
    width: 100vw;
    height: 5vh ;
    background-color: rgb(156, 155, 155);
    position:absolute;
    top:6vh;
    justify-self: top;
    box-shadow: 0 0 10px black;
    z-index: 1;
    
}

.side-bar{
    width: 20vw;
    height: 100vh;
    position: absolute ;
    left: 0;
    top: calc(0vh + 90px) ;
    background-color: rgb(156, 155, 155);
}



.side-button{
    left:0;
    height: 10vh;
    width: 20vw;
    box-shadow: 0 0 10px black;
    top: 10px;
    flex-direction: row;
    text-align: center;
    column-gap: 10px;
}

.side-button a {
    color: black;
    font-size: 20px;
    top: 3.5vh;
   
    position: relative;

}

.create{
    display: inline-block;
    font-size: 25px;
    padding: 20px 45px;
    border-radius: 50px;
    border:none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    color:white ;
    background-color: #343a40;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.create:hover{
    box-shadow: 0 0 8px black;
}
.create:active{
    color: #1d2124;
}

.tableStyle{
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
}