* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
i{
    color:rgb(156, 155, 155);
}
h1{
    padding-top: 10px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

button :hover {
    box-shadow: 0 0 10px black;
    color: black;
}
.top-container .topBar{
	position: absolute;
    color:rgb(156, 155, 155);
    width: 100%;
}
.wrapper{
    width: 480px;
    background-color: rgb(156, 155, 155);
    color: white;
    border-radius: 10px;
    padding: 30px;
    height: px;
}

.wrapper h1{
    font-size: 40px;
    text-align: center;
}

.wrapper .inputBox{
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    position: relative;
    padding: 0 5% 0 5%;
   
}


.remember_me {
    all:revert;
}

input:not([type="checkbox"]),select{    
    width: 100%;
    height: 100%;
    opacity: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px black;
}


.inputBox i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
}
.inputBox input::placeholder{
    color: rgb(156, 155, 155);
    padding-left: 20px;
}

.wrapper .remember_forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0px 15px;
    padding:20px 0px 20px 0px;
}
.remember_forgot a{
    all:unset;
    color:rgb(60, 60, 204);
    text-decoration: none;
}
.remember_forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border:none;
    outline: none;
    box-shadow: 0 0 5px black;
    cursor: pointer;

}
.wrapper .btn:hover{
    box-shadow: 0 0 8px black;
}
.wrapper .btn:active{
    opacity: 60%;
}


.wrapper .register{
    text-align: center;
    padding:8% 0 3% 0;
}

.register a{
    color: rgb(60, 60, 204);
    text-decoration: none;
}
.register a:hover{
    text-decoration: underline;
}

