{%extends "base.html"%}{%block title %}login{%endblock%}


{%block content%}

<div class="side-bar" ></div>

<div class="grid_parent" id="grid_label">
    <div class="grid_head">
        <label>ID</label>
        <label>Item</label>
        <label>Stock</label>
        <label>Price</label>
        <label>Date</label>
    </div>

    <div class="grid_item" >
        {%for i in details%}
            <label>{{i.id}}</label>
            <label>{{i.name}}</label>
            <label>{{i.stock}}</label>
            <label>{{i.price}}</label>
            <label>{{i.date}}</label>   
        {%endfor%}
    </div>
</div>

<div class="grid_parent" id = edit_grid style="display: none;">
    <div class="grid_head">
        <label>ID</label>
        <label>Item</label>
        <label>Stock</label>
        <label>Price</label>
        <label>Date</label>
    </div>



    <form class="grid_item" method="POST">
        {%for i in details%}
            <input type="text" name = "id_edit" value = "{{i.id}}" readonly class="inputBox" style="border-radius: 0%;margin:0%;background-color:rgb(156,155,155) ;">
            <input type="text" name="item_edit" value = "{{i.name}}" style="border-radius: 0%; margin: 0%;" class="inputBox">
            <input type="text" name="stock_edit" value = "{{i.stock}}" style="border-radius: 0%; margin: 0%;" class="inputBox">
            <input type="text" name="price_edit" value = "{{i.price}}" style="border-radius: 0%; margin: 0%;" class="inputBox">
            <label>{{i.date}}</label>
        {%endfor%}
        <button type = "submit" class="modify submit" >SUBMIT</button>
    </form>
</div>

<form method = "POST" style="display: none; " id="item_creation_form">
    <!-- button does something -->
    <div style="justify-self: center; ">Add new Item:</div>
    <button class = "close" onclick="close_form()" style="transform: translate(15px, -10px);">X</button>
    <div class="inputBox">
        <input type="text" name = "name" placeholder="name:" required>
    </div>
    <div class="inputBox">
        <input type="text" name = "stock" placeholder="stock:" required>
    </div>
    <div class="inputBox">
        <input type="text" name = "price" placeholder="price:" required>
    </div>
    <!-- <div class="inputBox">
        <input type="text" name = "date" placeholder="date:" required>
    </div> -->
    <button type="submit" class="button" >SUBMIT</button>
        
</form>


<!-- parent div for both menu buttons and menu inputs (delete) -->

<form method = "POST"  >
    <div class="inputBox delete">
        <input type="text" id="delete_input" name = "ID" placeholder="Enter ID:" required style="display: none;">
    </div>
    
<div class = "button_dropdown" id = "modify_buttons" style="display:none;">
    
    <button class="modify"  onclick="addItem()">
            ADD +
    </button>

    <button class="modify" onclick="editItem()">
            EDIT
    </button>

    <button class="modify" onclick="deleteItem(this)">
            DELETE
    </button>

    <button class="modify x"  onclick="close_modify()">
        x
    </button>

</div>
</form>



<div id = "modify_menu_button">
<button class="create dropdown"  onclick="open_modify()">+</button>
</div>
</div>

<script>
    function addItem(){
        let form = document.getElementById("item_creation_form")
        form.style.display = "block"
        let grid = document.getElementById("grid")
        grid.style.display = "none"
    }
    function close_form(){
        let form = document.getElementById("item_creation_form")
        form.style.display = "none"
        let grid = document.getElementById("grid")
        grid.style.display = "grid"
    }
    function open_modify(){
        let buttons = document.getElementById("modify_buttons")
        buttons.style.display = "block"
        let menu = document.getElementById("modify_menu_button")
        menu.style.display = "none"
    }
    function close_modify(){
        let modify_buttons = document.getElementById("modify_buttons")
        modify_buttons.style.display = "none"
        let modify_menu = document.getElementById("modify_menu_button")
        modify_menu.style.display = "block"
        let get_delete = document.getElementById("delete_input")
        get_delete.style.display = "none"
    }
    function deleteItem(button){
        let get_delete = document.getElementById("delete_input")
        get_delete.style.display = "block"

        if (button.type!="submit"){
            button.type = "submit"
        }
        
    }

    function editItem(button){
    let get_edit = document.getElementById("edit_grid")
    get_edit.style.display = "block"
    let base_grid = document.getElementById("grid_label")
    base_grid.style.display = "none"
    }


</script>

{%endblock%}