{%extends "base.html"%}{%block title %}login{%endblock%}


{%block content%}

<div class="side-bar" ></div>

<div class="grid_parent" id = "grid">
    <div class="grid_head">
        <label>ID</label>
        <label>Item</label>
        <label>Stock</label>
        <label>Price</label>
        <label>Date</label>
    </div>

    <div class="grid_item" >
        {%for i in details%}
            <label>{{i.id}}</label>
            <label>{{i.name}}</label>
            <label>{{i.stock}}</label>
            <label>{{i.price}}</label>
            <label>{{i.date}}</label>   
        {%endfor%}
    </div>
</div>

<form method = "POST" style="display: none; " id="item_creation_form">
    <!-- button does something -->
    <div style="justify-self: center; ">Add new Item:</div>
    <button class = "close" onclick="close_form()" style="transform: translate(15px, -10px);">X</button>
    <div class="inputBox">
        <input type="text" name = "name" placeholder="name:" required>
    </div>
    <div class="inputBox">
        <input type="text" name = "stock" placeholder="stock:" required>
    </div>
    <div class="inputBox">
        <input type="text" name = "price" placeholder="price:" required>
    </div>
    <!-- <div class="inputBox">
        <input type="text" name = "date" placeholder="date:" required>
    </div> -->
    <button type="submit" class="button" >SUBMIT</button>
        
</form>


<!-- parent div for both menu buttons and menu inputs (delete) -->
<div class = "menu_parent">
    <!-- <form method = "POST"   id="delete_input">
        <div class="inputBox delete">
            <input type="text" name = "ID" placeholder="Enter ID:" required>
        </div>
    </form>  -->
    <div class = "button_dropdown" id = "modify_buttons" style="display:none;">
        
        <button class="modify"  onclick="addItem()">
                ADD +
        </button>

        <button class="modify" onclick="deleteItem()"  >
                EDIT
        </button>

        <button class="modify" >
                DELETE
        </button>

        <button class="modify x"  onclick="close_modify()">
            x
        </button>

    </div>
</div>


<div id = "modify_menu_button">
<button class="create dropdown"  onclick="open_modify()">+</button>
</div>
</div>

<script>
    function addItem(){
        let form = document.getElementById("item_creation_form")
        form.style.display = "block"
        let grid = document.getElementById("grid")
        grid.style.display = "none"
    }
    function close_form(){
        let form = document.getElementById("item_creation_form")
        form.style.display = "none"
        let grid = document.getElementById("grid")
        grid.style.display = "grid"
    }
    function open_modify(){
        let buttons = document.getElementById("modify_buttons")
        buttons.style.display = "block"
        let menu = document.getElementById("modify_menu_button")
        menu.style.display = "none"
    }
    function close_modify(){
        let modify_buttons = document.getElementById("modify_buttons")
        modify_buttons.style.display = "none"
        let modify_menu = document.getElementById("modify_menu_button")
        modify_menu.style.display = "block"
    }
    function deleteItem(){
        
    }
</script>

{%endblock%}