<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>
    <title>login page</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<div class="alertcontainer">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>

{% block content %}

        <div class = "wrapper">
            <form action = "">
                <h1>Reset Password</h1>
                <div class = "inputBox">
                    <input type = "text" placeholder="Username" required >
                    <i class='bx  bx-user'></i>
                </div>
                <div class = "inputBox">
                    <input type = "password" placeholder = "password" required>
                    <i class='bx  bx-lock'></i> 
                </div>
                <div class = "remember_forgot">
                    <label><input type = "checkbox">Remember me
                    </label>
                    <a href="#">Forgot password?</a>
                    
                </div>
                <button type = "submit" class = "button" >login</button>
                <div class = "register">
                    <p>Dont have an account?<a href = "register"> Register here</a></p>
                    
                </div>

            </form>

        </div>
{% endblock %}